html{
    height: 100%;
    body{
        font-size: 16px;
        height: 100%;        

        #user-list{
            li{
                font-size: 14px;
                font-weight: bold;
                list-style: none;
            }
        }

        #message-panel{
            position: relative;
            min-height: 95%;
            li{
                list-style: none;
            }
        }
        #command-line{
            position: fixed;
            bottom: 0;
            width: 100%;
            #message-text{
                width: 100%;
            }
            .btn{
                width: 100%;
            }
        }
    }
}

// @import "large-devices";
// @import "normal-devices";
// @import "small-devices";