html{
    height: 100%;
    body{
        font-size: 16px;
        height: 100%;        
        .container{
            #user-list{
                border-left: 1px solid blueviolet;
                min-height: 90%;
                li{
                    font-size: 14px;
                    font-weight: bold;
                    list-style: none;
                }
            }
            #message-panel{
                position: relative;
                min-height: 90%;
                li{
                    list-style: none;
                }
            }
            #command-line{
                border-top: 1px solid blueviolet;
                max-height: 6%;
                padding-top: 2%;
                input{
                    width: 100%;
                    line-height: 32px;
                    font-size: 28px;
                }
                .btn{
                    width: 100%;
                    line-height: 32px;
                    font-size: 28px;
                }
            }
        }
    }
}

// @import "large-devices";
// @import "normal-devices";
// @import "small-devices";